body {
    font-family: Arial, sans-serif;
    background-color: rgba(233, 120, 248, 0.658);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    gap: 20px;
    padding: 5px;
}

.contenedor {
    background: #51e0eb;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
h2 {
    color: rgb(38, 8, 206);
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a3c9df;
    border-radius: 4px;
    box-sizing: border-box; 
}
.input-group input {    
    flex-grow: 1;
    border: none;
    margin-bottom: 0;
    padding: 10px;
}
.input-group span.contra {   
    padding: 10px;
    background-color: #eee;
    border-left: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}

.input-group span {
    padding: 10px 5px;
    background-color: #eee;
}
button {  
    background-color: #014997;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {  
    background-color: #5595da;
}

#mensaje, #mensajeLogin, #mensajeRecuperacion {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}
.input-group {           
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 10, 10);
    border-radius: 4px;
    padding: 0;
}
